body {
    font-family: 'Berkshire Swash', cursive;
}

.navbar {
    background-color: black;
}

.logo-pic {
    width: 90px;
    height: 100px;
}

.logo {
    color: #fff10d;
    font-size: 21px;
}

.nav-item a {
    color: #fff10d;
    font-size: 21px;
}

.welcome img {
    width: 100vw;
    height: 65vh;
    opacity: 0.5;
}

#content-img {
    position: relative;
    text-align: center;
    color: white;
}

#img-content-text1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7vh;
    font-weight: 550;
    color: black;
    margin: auto;
}


/* .welcome img.content-img2,
img.content-img3,
.content-img2,
.content-img3 {
    display: none;
} */

.content2,
.content3 {
    display: none;
}

.order {
    height: 50vh;
    width: 100%;
}