body {
    font-family: 'Berkshire Swash', cursive;
    overflow-x: hidden;
}

.navbar {
    background-color: black;
}

.logo-pic {
    width: 90px;
    height: 100px;
}

.logo {
    color: #fff10d;
    font-size: 21px;
}

.nav-item a {
    color: #fff10d;
    font-size: 21px;
}

.welcome img {
    width: 100vw;
    height: 70vh;
    opacity: 0.5;
}

#content-img {
    position: relative;
    text-align: center;
    color: white;
}

#img-content-text1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7vh;
    font-weight: 550;
    color: black;
    margin: auto;
}


/* .welcome img.content-img2,
img.content-img3,
.content-img2,
.content-img3 {
    display: none;
} */

.content2,
.content3 {
    display: none;
}

.order-n-summary {
    background-image: linear-gradient( rgb(255, 255, 255, 0.5), rgb(255, 255, 255, 0.5)), url(../images/dom-pizzy-client.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#order {
    display: inline-flex;
    align-items: center;
}

#order img {
    width: 200px;
    height: 200px;
}

.order-form {
    display: inline-block;
    text-align: center;
    line-height: 2.5em;
}

select {
    border-width: 3px;
    border-color: black;
    border-radius: 5px;
}

input[type="number"] {
    width: 5%;
    border-width: 3px;
    border-color: black;
    border-radius: 5px;
    color: black;
    font-weight: 500;
    font-size: 20px;
}

button[type="submit"] {
    width: 20%;
    border-width: 3px;
    border-color: black;
    border-radius: 5px;
    color: black;
    font-weight: 500;
    font-size: 20px;
}

.feedback {
    width: 100vw;
    height: 40vh;
    display: inline-flex;
    align-items: center;
    line-height: 1.5em;
}

#feedback-form input {
    display: block;
    width: 100%;
    height: 37px;
    border-color: #333;
}

.footer {
    width: 100vw;
    height: 10vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
}